.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"].sto-cursor{
    cursor:pointer!important;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] {

}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .partner-card{
    background-image: __BTF_CONTAINE_IMG__;
    background-color: __BTFCOLOR__;
    border: 1px solid __BORDERCOLOR__!important;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    /*height: 470px;*/
    height: 100%;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-vi-cta {
    height: 40px;
    width: 150px;
    margin-bottom: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    /*margin-top: 416px;*/
    text-align: center;
    color: __BUTTONTXT__;
    font-weight: bold;
    bottom: 1.125rem;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    /* transition: all .2s ease-out; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    background-color: __BUTTONCOLOR__;
    cursor: pointer;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-vi-cta:hover {
    background-color: __BUTTONCOLOR__;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-btn-container {
    width: 100%;
    height: 250px;
    text-align: center;
    position: relative;
    margin-top: 185px;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-message, .product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-message2 {
    z-index: 99999999;
    position: fixed;
    padding: 20px 50px;
    background: rgba(0, 255, 38, 0.8);
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-logo {
    display: none;
}

/*@media screen and (max-width:1023px) {*/
@media screen and (max-width:767px) {
/*@media screen and (max-width:599px) {*/
    .product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-logo {
        display: block;
        display: block;
        width: 50%;
        height: 100% !important;
        position: absolute;
        background-image: __LOGO_IMG__;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] {
        position: relative;
        min-height: 0;
    }
    .product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .partner-card{
        background-image: __BTF_CONTAINE_IMG_MOB__;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: relative;
    }
    .product-list__item-card[data-format="VI"][data-creaid="__CREAID__"] .sto-vi-cta {
        left: 75%;
        bottom: calc(50% - 20px);
    }
}
